.flights {
  margin: 20px 0 50px 0;
  padding-top: 150px;

  .wheel {
    margin: 100px auto 50px;
    width: 100px;
    height: 100px;
    transform-origin: center center;
    animation: spin 4s linear infinite;
  }

  &__wrapper {
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform .4s linear;

    &--animated {
      transform: scaleY(1);
    }
  }

  h2 {
    font-size: 30px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}