.search-box {
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 10px;
  left: 0;
  background: #0ca7c6;
  padding: 20px;
  z-index: 1;

  button {
    display: block;
    color: white;
    text-decoration: none;
    width: 86px;
    font-size: 16px;
    height: 86px;
    border: 0;
    border-radius: 86px;
    outline: 0;
    background-color: #fe5766;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: background-color 400ms ease,box-shadow 600ms ease;
    margin: 0 auto;

    &:hover {
      background: #fe707d;
      box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.4);
    }
  }
}