.ticket {
  display: flex;
  width: 100%;
  padding: 12px;
  align-items: center;

  &__airline {
    flex: 1;
    text-align: left;
    padding-right: 12px;
    font-size: 16px;
  }

  &__info {
    display: flex;
    flex: 3;
  }

  &__location {
    flex: 1;
    font-size: 16px;

    &--departure {
      text-align: right;
      padding-right: 12px;
    }

    &--arrival {
      text-align: left;
      padding-left: 12px;
    }

    .time {
      font-weight: 700;
    }

    &__bottom {
      font-size: .75rem;
      line-height: 1rem;
      letter-spacing: .01875rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__duration {
    width: 130px;
    padding: 0 12px;

    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: .01875rem;
    font-weight: 700;
    position: relative;

    svg {
      stroke: #000;
      opacity: .2;
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      height: 100%;
      width: 2px;
      top: 0;
      background-image: linear-gradient(180deg, #000 2px, transparent 0, transparent);
      opacity: .2;
      background-position: 50%;
      background-size: 2px 4px;
      background-repeat: repeat-y;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
  &:first-child {
    border-bottom: 1px solid #f2f2f2
  }
}