.flights__result {
  background: #fff;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .87);
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;

  &__tickets {
    flex: 4;
    padding-top: 12px;
  }

  &__actions {
    background: #f2f2f2;
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__price {
    text-align: right;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .03125rem;
    font-weight: 700;
    padding-bottom: 8px;
  }

  &__cta {
    color: #fff;
    background: #2ca179;
    padding: 12px 12px;
    border-radius: 4px;
    outline: 0;
    text-decoration: none;
    width: 100%;
    transition-timing-function: cubic-bezier(.27, .67, .28, .87);
    transition-property: background;
    transition-duration: 0;

    &:hover {
      background: #2fd693;
      transition-duration: .25s;
    }
  }
}