/**
 * Type: primary
 * Weight: regular
 */
 @font-face {
  src:
      local('☺'),
      url('./static/fonts/lato-regular.woff2') format('woff2'),
      url('./static/fonts/lato-regular.woff') format('woff');
  font-family: ffprimary;
  font-style: normal;
  font-weight: 400;
}

/**
* Type: primary
* Weight: bold
*/
@font-face {
  src:
      local('☺'),
      url('./static/fonts/lato-bold.woff2') format('woff2'),
      url('./static/fonts/lato-bold.woff') format('woff');
  font-family: ffprimary;
  font-style: normal;
  font-weight: 700;
}