body {
  color: white;
  background-color: rgb(30, 6, 60);
  font-family: ffprimary, "Hiragino Sans GB", 冬青黑体简体中文, STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, 文泉驿微米黑, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

.layout {
  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 66px;
    background-color: #140028;
  }

  .page-wrapper {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  #logo svg {
    height: 26px;
    margin-top: 20px;
  }

  &__content {
    width: 100%;
    margin-top: 66px;
    text-align: center;
    position: relative;
  }
}
